In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
full_df = pd.read_csv("airbnb_df.csv")
full_df.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,instant_bookable,last_review,latitude,longitude,neighbourhood,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,f,2016-07-18,40.696524,-73.991617,Brooklyn Heights,2,100.0,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,...,t,2017-09-23,40.766115,-73.989040,Hell s Kitchen,6,93.0,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,...,t,2017-09-14,40.808110,-73.943756,Harlem,10,92.0,10027,1.0,3.0
3,13418779,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,...,f,NaN,37.772004,-122.431619,Lower Haight,0,NaN,94117.0,2.0,2.0
4,3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,...,t,2017-01-22,38.925627,-77.034596,Columbia Heights,4,40.0,20009,0.0,1.0

In [3]:
full_df.dtypes

id                          int64
log_price                 float64
property_type              object
room_type                  object
amenities                  object
accommodates                int64
bathrooms                 float64
bed_type                   object
cancellation_policy        object
cleaning_fee                 bool
city                       object
first_review               object
host_has_profile_pic       object
host_identity_verified     object
host_response_rate         object
host_since                 object
instant_bookable           object
last_review                object
latitude                  float64
longitude                 float64
neighbourhood              object
number_of_reviews           int64
review_scores_rating      float64
zipcode                    object
bedrooms                  float64
beds                      float64
dtype: object

In [7]:
simplified_encoded_df = pd.read_csv("NY_data_simple.csv")
simplified_encoded_df.head()

,log_price,room_type,accommodates,neighbourhood,zipcode,bedrooms,bathrooms,review_scores_rating,has_pool
0,5.010635,0,3,20,154,1.0,1.0,100.0,False
1,5.129899,0,7,88,33,3.0,1.0,93.0,False
2,4.976734,0,5,87,43,1.0,1.0,92.0,False
3,4.605170,1,2,1,17,1.0,1.0,93.0,False
4,4.882802,0,2,109,4,1.0,1.0,86.0,False

In [9]:
simplified_encoded_df.dtypes

log_price               float64
room_type                 int64
accommodates              int64
neighbourhood             int64
zipcode                   int64
bedrooms                float64
bathrooms               float64
review_scores_rating    float64
has_pool                   bool
dtype: object

In [11]:
engine = create_engine('postgresql://postgres:Nelson+704@localhost:5432/airbnb_database')

In [12]:
full_df.to_sql('raw_data', engine, index=False)

In [13]:
simplified_encoded_df.to_sql('simplified_encoded_data', engine, index=False)